* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.rowgeneramosdescripciones > figcaption {
    color: white;
}

.rowgeneramos, .rowgeneramosdescripciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.rowgeneramosdescripciones {
margin-bottom: 25px;
}