@font-face {
    font-family: "got";
    src: url("./fonts/Gotham-Medium.otf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background-color: #131a22;
    display: flex;
    padding: 0 10% 0;
}

figcaption {
    color: white;
    font-family: "got";
    margin-bottom: 15%;
}

.col2 {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

.col1 > figure, .col3 > figure {
    padding: 15px 0;
}

.col2 > figure > .one {
    padding-top: 41px;
}
.col2 > figure > .two {
    padding-top: 95px;
}
.col2 > figure > .three {
    padding-top: 958px;
}

.col2 > figure > img {
    margin: 0 auto;
}

.col1, .col3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}